.signup, .signin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {
        font-size: $fs-800;
    }
    h2 {
        font-size: $fs-600;
    }
}
@media (min-width: 50em){
    .signin, .signup{
        h1{
            font-size: $fs-900 * 1.5;
        }
        h2{
            font-size: $fs-700;
        }
    }
}