// Utility classes
.visually-hidden:not(:focus):not(:active){
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
}

// HOME

// Navbar
.navbar{
    @include flex-ac-sb(0);
    padding: $size-600;
    font-size: $fs-400;

    .nav-links{
        @include flex-ac($size-700);
        .links{
            display: flex;
            gap: $size-700;
            a{
                text-decoration: none;
                color: $base-black;
            }
        }
        span{
            display: none;
        }
    }

    .navbar-toggle{
        display: none;
        background: none;
        outline: 0;
        border: 0;
    }

    .nav-buttons{
        @include flex-ac(0);
        gap: $size-700;
        .login{
            background: none;
            outline: 0;
            border: 0;
        }
        .signup{
            @extend .login;
            background: $base-black;
            color: $base-white;
            padding: $size-300 $size-300 * 3;
            border: 2px solid $base-black;
            &:hover{
                background: none;
                color: $base-black;
            }
        }
    }
}

@media (max-width: 55em){
    .navbar{
        padding: $size-400;
        .nav-links{
            .links{
                flex-direction: column;

                position: absolute;
                background: $base-black;
                padding: $size-500;
                inset: 0;
                transform: translateX(-100%);
                transition: .25s ease-in-out;
                li{
                    border-bottom: 1px solid $base-white;
                    margin-top: $size-500;
                    a{
                        color: $base-white;
                    }
                }
                span{
                    text-decoration: underline;
                    color: $base-white;
                    font-size: $fs-300;
                    position: relative;
                    top: 0%;
                    right: -90%;
                    display: block;
                    width: fit-content
                    
                }
            }

            .show{
                @include show;
            }
        }
        .nav-buttons{
            position: absolute;
            bottom: 5%;
            color: $base-white;

            transform: translateX(-110%);
            transition: .25s ease-in-out;
            .signup{
                padding: 0;
                &:hover{
                    color: $base-white;
                }
            }
            .login{
                color: $base-white;
                background: none;
                border: 0;
            }

        }
        .show{
            @include show;
        }

        .navbar-toggle{
            display: block;
        }
    }
}

// Hero
main{
    width: 100%;
}
header{
    @include flex-ac-col(0);
    padding-inline: $size-400;

    .hero-left{
        width: 100%;
        h1{
            font-size: $fs-600;
        }
        .email{
            display: flex;
            width: fit-content;
            height: $size-700;
            border: 2px solid $base-black;
            margin-block: $size-600;

            input{
                padding-inline: $size-200;
                background: $base-white;
                color: $base-black;
                border: none;
                outline: none;
                &::placeholder{
                    color: $base-black;
                }
            }
            button{
                width: max-content;
                line-height: 1.2;
                padding-inline: $size-300;
                background: $base-black;
                color: $base-white;
                border: none;
                border-left: 2px solid $base-black;

                &:is(:hover, :focus-within){
                    background: $base-white;
                    color: $base-black;
                }
            }
        }
        .sponsors{
            display: flex;
            gap: $size-300;
            margin: $size-400 $size-200;
        }
    }

    .hero-right{
        width: 70%;
    }
}

@media (min-width: 36em){
    header{
        .hero-left{
            .email{
                height: $size-700 * 1.2;
                input{
                    padding-inline: $size-500;
                }
                button{
                    padding-inline: $size-700;
                }
            }
        }
    }
}

@media (min-width: 55em){
    main{
        width: 80%;
        margin-inline: auto;
    }
    header{
        flex-direction: row;
        @include flex-ac-sb($size-700);
        margin-block: $size-800;
        .hero-left{
            width: 40%;
            h1{
                font-size: $fs-700;
                width: 15ch;
                line-height: 1.1;
                word-wrap: break-word;
                word-break: break-all;
            }
            p{
                font-size: $fs-400;
            }
            .email{
                height: $size-700;
                input{
                    padding-inline: $size-400;
                }
                button{
                    padding-inline: $size-500 * 1.5;
                }
            }
        }
        .hero-right{
            width: 50%;
        }
    }
}

// About Us
.about-us{
    @include flex-ac($size-900);
    flex-direction: column-reverse;
    padding-inline: $size-400;
    margin-block: $size-900 * 1.5;
    &_left{
        width: 70%;
    }
    &_right{
        .header{
            p{
                @include header;
            }
            h2{
                font-size: $fs-600;
            }
        }
        p{
            margin-block: $size-500;
        }
        ul{
            padding-left: $size-400;
            li{
                margin-top: $size-200;
                list-style: square;
            }
        }
    }
}
@media (min-width: 50em){
    .about-us{
        flex-direction: row;
        &_left{
            width: 50%;
        }
        &_right{
            width: 50%;
            .header{
                h2{
                    font-size: $fs-700;
                }
            }
        }
    }
}

// How it works
.how-it-works{
    @include flex-ac-col($size-800);
    padding-inline: $size-400;
    margin-block: $size-900 * 1.5;
    &_left{
        .header{
            p{
                @include header;
            }
            h2{
                @include h2;
            }
        }
        ul{
            li{
                list-style: none;
                margin-top: $size-600;
                .work{
                    display: flex;
                    align-items: start;
                    gap: $size-400;
                    img{
                        width: 20%;
                    }
                }
            }
        }
    }
    &_right{
        width: 70%;
    }
}
@media (min-width: 50em){
    .how-it-works{
        flex-direction: row;
        align-items: flex-start;
        &_left{
            .header{
                h2{
                    font-size: $fs-700;
                }
            }
        }
    }
}

// Pricing
.pricing{
    @include flex-col($size-500 * 3);
    padding-inline: $size-400;
    margin-block: $size-900 * 1.5;
    &_top{
        @include flex-ac($size-700);
        flex-direction: column-reverse;
        &_image{
            width: 70%;
        }
        &_details{
            .header{
                p{
                    @include header;
                }
                h2{
                    @include h2;
                }
            }
        }
    }

    &_bottom{
        display: grid;
        place-items: center;
        gap: $size-500;
        .plan{
            @include flex-col-sb($size-400);
            width: 80%;
            height: 80%;
            border: 1px solid $base-black;
            padding: $size-500 * 2 $size-600;
            word-break: break-all;

            &_details{
                @include flex-col($size-500);
                .price{
                    display: flex;
                    gap: $size-400;
                    flex-wrap: wrap;
                    align-items: baseline;
                    position: relative;
                    font-weight: $fw-ultrabold;
                    .currency{
                        position: absolute;
                    }
                    img{
                        margin-left: $size-400;
                    }
                }

                ul{
                    @include flex-col($size-500);
                    padding-left: $size-400;
                    li{
                        list-style: square;
                    }
                }
            }

            button{
                width: 100%;
                background: none;
                padding-block: $size-200;
                margin-top: $size-400 * 3;
                border: 2px solid $base-black;
            }

            &:nth-child(1){
                button{
                    color: $base-white;
                    background: $base-black;
                    &:hover{
                        color: $base-black;
                        background: none;
                    }
                }
            }
            &:nth-child(2){
                color: $base-white;
                background: $base-black;
                button{
                    color: $base-black;
                    background: $base-white;
                    border: 2px solid $base-white;
                    &:hover{
                        background: $base-black;
                        color: $base-white;
                    }
                }
            }
            &:nth-child(3){
                background: $base-white;
                button{
                    color: $base-white;
                    background: $base-black;
                    &:hover{
                        color: $base-black;
                        background: none;
                    }
                }
            }
        }
    }

}
@media (min-width: 50em){
    .pricing{
        &_top{
            flex-direction: row;
            &_details{
                text-align: right;
                .header{
                    h2{
                        font-size: $fs-700;
                    }
                    p{
                        margin-left: auto;
                    }
                }
            }
        }

        &_bottom{
            grid-template-columns: repeat(3, 1fr);
            grid-auto-flow: column;
            .plan{
                height: 80%;
                width: 90%;
                padding: $size-500 * 2 $size-400;
            }
        }
    }
}

// FAQs
.faqs{
    @include flex-col($size-600);
    padding-inline: $size-400;
    margin-block: $size-900 * 1.5;
    &_left{
        &_top{
            .header{
                p{
                    @include header;
                }
                h2{
                    @include h2;
                }
            }
            p{
                margin-block: $size-500;
            }
        }

        &_bottom{
            .faq{
                padding-block: $size-500;
                border-bottom: 2px solid $base-black;
                .header{
                    @include flex-as-sb($size-200);
                    span{
                        font-weight: $fw-ultrabold;
                    }
                    img{
                        cursor: pointer;
                    }
                }

                p{
                    margin-top: $size-400;
                }
            }
        }
    }
}

@media (min-width: 50em){
    .faqs{
        flex-direction: row;
        &_left{
            width: 50%;
            &_top{
                .header{
                    h2{
                        font-size: $fs-700;
                    }
                }
            }
        }
        &_right{
            width: 50%;
        }
    }
}

// Footer
footer{
    display: grid;
    gap: $size-400;
    background: $base-black;
    color: $base-white;
    padding: $size-400 * 3 $size-200 0 $size-200;
    .first{
        @include flex-ac-sb(0);
        &_image{
            width: 15%;
        }

        &_mail{
            p:first-child{
                font-weight: $fw-ultrabold;
            }
        }
    }

    .second{
        ul{
            @include flex-ac-sb(0);
            li{
                border: 1px dashed $base-white;
            }
        }
    }

    .third{
        ul{
            li{
                margin-top: $size-300;
                a{
                    color: $base-white;
                    text-decoration: none;
                }
            }
        }
    }

    .fourth{
        ul{
            li{
                margin-top: $size-300;
            }
        }
    }

    .fifth{
        .subscribe{
            display: flex;
            height: $size-600 * 1.2;
            width: fit-content;
            border: 1px solid $base-white;
            margin-block: $size-600;

            input{
                padding-inline: $size-300;
                background: $base-black;
                color: $base-white;
                border: none;
                outline: none;
                &::placeholder{
                    color: $base-white;
                }
            }
            button{
                line-height: 1.2;
                padding-inline: $size-400;
                background: $base-white;
                border: 0;
                border-left: 2px solid $base-white;
                &:is(:hover, :focus-within){
                    background: $base-black;
                    color: $base-white;
                }
            }
        }

    }
}

@media (min-width: 50em){
    footer{
        padding-inline: $size-800;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(4, 1fr);
        .first{
            grid-column: 1/8;
            grid-row: 1/2;
            &_image{
                width: 8%;
            }
            &_mail{
                margin-right: $size-400 * 3;
            }
        }

        .second{
            grid-column: 1/4;
            grid-row: 2/3;
            ul{
                gap: $size-300;
                li{
                    img{
                        object-fit: cover;
                    }
                }
            }
        }

        .third{
            grid-column: 7/9;
            grid-row: 1/3;
            ul{
                @include flex-col($size-500);
                text-align: right;
                li{
                    margin-top: 0;
                }
            }
        }

        .fourth{
            grid-column: 9/11;
            grid-row: 1/3;
            ul{
                @include flex-col($size-500);
                text-align: right;
                li{
                    margin-top: 0;
                }
            }
        }

        .fifth{
            grid-column: 1/4;
            grid-row: 3/4;
            .subscribe{
                height: $size-600 * 1.7;
                input{
                    padding-inline: $size-700;
                }
                button{
                    color: $base-black;
                    padding-inline: $size-700;
                }
            }
        }

        .copyright{
            grid-column: 1/4;
            grid-row: 4/5;
            align-self: center;
        }
    }
};