@use "sass:math";
// Variables
@import "./variables";

// Resets
@import "./reset";

// Utility classes
.visually-hidden:not(:focus):not(:active){
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
}

.show{
    display: flex;
}

// Mixins
@mixin header{
    text-transform: uppercase;
    font-weight: $fw-ultrabold;
    padding: $size-200 $size-400;
    border: 1px solid $base-black;
    width: fit-content;
}

@mixin h2{
    font-size: $fs-600;
    font-weight: $fw-ultrabold;
    margin-block: $size-400;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $size-600;
    font-size: $fs-400;

    .nav-links{
        display: flex;
        align-items: center;
        gap: $size-700;
        .links{
            display: flex;
            gap: $size-700;
            a{
                text-decoration: none;
                color: $base-black;
            }
        }
    }

    .navbar-toggle{
        display: none;
        background: none;
        outline: 0;
        border: 0;
    }

    .nav-buttons{
        display: flex;
        gap: $size-700;
        .login{
            background: none;
            outline: 0;
            border: 0;
        }
        .signup{
            @extend .login;
            background-color: $base-black;
            color: $base-white;
            padding: $size-300 $size-300 * 3;
            &:hover{
                background: none;
                color: $base-black;
            }
        }
    }
}

@media (max-width: 50em){
    .navbar{
        padding: $size-400;
        .nav-links{
            .links{
                display: none;
                flex-direction: column;

                position: absolute;
                background: $base-black;
                inset: 6rem $size-400 auto;
                padding: $size-500;
                text-align: left;
                li{
                    border-bottom: 1px solid $base-white;
                    a{
                        color: $base-white;
                    }
                }
            }
            .show{
                display: flex;
            }
        }
        .nav-buttons{
            display: none;
        }
        .navbar-toggle{
            display: block;
        }
    }
}

// Hero
main{
    width: 100%;
    margin-inline: $size-100;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;

    .hero-left{
        width: 100%;
        h1{
            font-size: $fs-600;
        }
        .email{
            margin-block: $size-700;
            input{
                outline: 0;
                padding: $size-200;
                border: 2px solid $base-black;
                height: 2rem;

            }
            button{
                background: $base-black;
                color: $base-white;
                border: 0;
            }
        }
        .sponsors{
            display: flex;
            gap: $size-300;
            margin: $size-400 $size-200;
        }
    }

    .hero-right{
        width: 70%;
    }
}
@media (min-width: 50em){
    main{
        width: 80%;
        margin-inline: auto;
    }
    header{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: $size-700;
        margin-block: $size-800;
        .hero-left{
            width: 50%;
            h1{
                font-size: $fs-700;
                width: 15ch;
                line-height: 1.1;
                word-wrap: break-word;
                word-break: break-all;
            }
            p{
                font-size: $fs-400;
            }

            .email{
                button{
                    padding-inline: $size-600;
                }
            }
        }
        .hero-right{
            width: 50%;
        }
    }
}

// About Us
.about-us{
    display: flex;
    gap: $size-900;
    align-items: center;
    flex-direction: column-reverse;
    margin-block: $size-900 * 1.5;
    &_left{
        width: 70%;
    }
    &_right{
        .header{
            p{
                @include header;
            }
            h2{
                font-size: $fs-600;
            }
        }
        p{
            margin-block: $size-500;
        }
        ul{
            li{
                margin-top: $size-200;
                list-style: square;
            }
        }
    }
}
@media (min-width: 50em){
    .about-us{
        flex-direction: row;
        &_left{
            width: 50%;
        }
        &_right{
            width: 50%;
            .header{
                h2{
                    font-size: $fs-700;
                }
            }
        }
    }
}

// How it works
.how-it-works{
    display: flex;
    gap: $size-800;
    align-items: center;
    flex-direction: column;
    padding-inline: $size-400;
    margin-block: $size-900 * 1.5;
    &_left{
        .header{
            p{
                @include header;
            }
            h2{
                @include h2;
            }
        }
        ul{
            li{
                list-style: none;
                margin-top: $size-600;
                .work{
                    display: flex;
                    align-items: start;
                    gap: $size-400;
                    img{
                        width: 20%;
                    }
                }
            }
        }
    }
    &_right{
        width: 70%;
    }
}
@media (min-width: 50em){
    .how-it-works{
        flex-direction: row;
        align-items: flex-start;
        &_left{
            .header{
                h2{
                    font-size: $fs-700;
                }
            }
        }
    }
}

// Pricing
.pricing{
    display: flex;
    flex-direction: column;
    gap: $size-500 * 3;
    margin-block: $size-900 * 1.5;
    &_top{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        &_image{
            width: 70%;
        }
        &_details{
            .header{
                p{
                    @include header;
                }
                h2{
                    @include h2;
                }
            }
        }
    }

    &_bottom{
        display: grid;
        place-items: center;
        gap: $size-500;
        .plan{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 87%;
            width: 80%;
            border: 1px solid $base-black;
            padding: $size-500 * 2 $size-600;
            &_details{
                display: flex;
                flex-direction: column;
                gap: $size-500;
                .price{
                    display: flex;
                    gap: $size-400;
                    align-items: baseline;
                    position: relative;
                    font-weight: $fw-ultrabold;
                    .currency{
                        position: absolute;
                    }
                    img{
                        margin-left: $size-400;
                    }
                }

                ul{
                    display: flex;
                    gap: $size-500;
                    flex-direction: column;
                    padding-left: $size-400;
                    li{
                        list-style: square;
                    }
                }
            }

            button{
                width: 100%;
                background: none;
                padding-block: $size-200;
                margin-top: $size-400 * 3;
                border: 2px solid $base-black;
            }

            &:nth-child(1){
                button{
                    color: $base-white;
                    background: $base-black;
                    &:hover{
                        border-color: transparent;
                        color: $base-black;
                        background: none;
                    }
                }
            }
            &:nth-child(2){
                color: $base-white;
                background: $base-black;
                button{
                    background: $base-white;
                    &:hover{
                        background: $base-black;
                        color: $base-white;
                    }
                }
            }
            &:nth-child(3){
                background: $base-white;
                button{
                    color: $base-white;
                    background: $base-black;
                    &:hover{
                        border-color: transparent;
                        color: $base-black;
                        background: none;
                    }
                }
            }
        }
    }

}
@media (min-width: 50em){
    .pricing{
        &_top{
            flex-direction: row;
            &_details{
                .header{
                    h2{
                        font-size: $fs-600;
                    }
                }
            }
        }

        &_bottom{
            grid-template-columns: repeat(3, 1fr);
            grid-auto-flow: column;
            .plan{
            }
        }
    }
}